
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--About Style One-->
<section class="about-style-one">
    <div class="outer-box clearfix">

        <!--Content Column-->
        <div class="content-column clearfix">
            <div class="content-box">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <!--Section Title-->
                    <div class="sec-title">
                        <h2>About <span>Sweety Recipes</span></h2>
                    </div>
                    <div class="text">Sweety Recipes is the project of the object oriented software engineering course of 3 students in Ankara Bilim University 2nd year software and computer engineering. </div>
                    <div class="text"> Developer students who made the website: </div>
                    <div class="text">
                        <strong>Sena Küçük:</strong> Front-End Developer - Software Engineering 2nd year student
                    </div>
                    <div class="text">
                        <strong>Mürsel Arhan:</strong> Back-End Developer and System Analysist - Computer Engineering 2nd year student
                    </div>
                    <div class="text">
                        <strong>Şerife Melisa Büyükköprü:</strong> Full Stack Developer - Software Engineering 2nd year student
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


